.bg{
  background-image: url(./static//image/main_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.intro-section{
  position: absolute;
  top: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}