@charset 'utf-8';

@import './reset.css';

body {
  overflow: hidden;
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;

}
body.fade{
  opacity: 0;
}

.container {
  width: 100vw;
  position: relative;

  margin: 0 auto;
}

header {
  width: 100%;
  height: 80px;
  background-color: white;
  border:1px solid #4f4d4c71;
  box-shadow: 0 0 1px 0px;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 1;
}

.header-wrap {
  width: 100%;
  padding: 0 10em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.ul-wrap>ul {
  display: flex;
}

.ul-wrap>ul>li {
  font-size: 1.2em;
  margin-left: 30px;
}

.ul-wrap a {
  transition-duration: .5s;
}

.ul-wrap a:hover , .login-menu-btn:hover{
  color: tomato;
  transition-duration: .5s;
}

/* 햄버거 버튼 없애고, login 에 커서 올리면  sign in과 log in 선택 메뉴 니오게 하기. */

main {
  font-family: 'Montserrat', sans-serif;
  position: relative;

  /* main이 자기 자리를 지키는 relative를 사용함으로써 footer가 그 밑으로 감 */
  top: 60px;
  z-index: 0;
  padding-bottom: 2.5em;
}

.logo {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  color: #4F4D4C;
}

.logo a{
  cursor: pointer;
}

.ul-wrap {
  font-family: 'Dosis', sans-serif;
}

.login-menu{
    
  visibility: hidden;
  opacity: 0;

  transition-duration: .5s;
  position: absolute;
  padding-top: 10px;
  font-size: 1em;
  top:60px;
  
  height: 90px;
  width: 70px;
  text-align: center;
  background-color: white;
}

.login-menu li{
  margin: 10px 0;  
}

.login-menu-btn{
  cursor: pointer;
}

.blocked{
  visibility: visible;
  opacity: 1;

  transition-duration: .5s;
}

/* main part */

  
  .logo {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: #4F4D4C;
  }
  
  .logo a{
    cursor: pointer;
  }
  
  .ul-wrap {
    font-family: 'Dosis', sans-serif;
  }
  
  .login-menu{
      
    visibility: hidden;
    opacity: 0;
  
    transition-duration: .5s;
    position: absolute;
    padding-top: 10px;
    font-size: 1em;
    top:60px;
    
    height: 90px;
    width: 70px;
    text-align: center;
    background-color: white;
  }
  
  .login-menu li{
    margin: 10px 0;  
  }
  
  .login-menu-btn{
    cursor: pointer;
  }
  
  .blocked{
    visibility: visible;
    opacity: 1;
  
    transition-duration: .5s;
  }
  
  /* main part */
  
  .bg {
    background-image: url(../images/bed_image.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    position: relative;
  
    z-index: -1;
    width: 100vw;
    height: 150vw;
  
  }
  .container{
    width: 100vw;
  }
  /* Reservation part */

  main{
    position: absolute;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    width: 80vw;
    height: 80vh;
    top: 10vh;
    left: 10%;
    margin: 0 auto;
    z-index: 1;
    
}

main>h1{
  position:relative;
  top: 50px;
  text-align: center;
  
}

.allContents-wrap{
  display: grid;
  grid-template-rows: 70% 30%;
  width: 100%;
  height: 100%;
  background-color: white;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgba(34, 36, 38, 0.2);
  box-shadow: 0 0 10px 3px #4F4D4C;
  border-radius: 10px;
  padding: 10px;
}

.calender-wrap{
  display: flex;
  width: 800px;
  
  justify-content: space-between;
}
.book-date-container{
  display: flex;
  justify-content: space-around;
  
}
.selectBookInfo{
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.date-output{
  width: 150px;
  margin-left: 30px;
  padding: 10px 0;
}
.item-count{
  display: flex;
  flex-direction: column;
}
.item{
  display: flex;
}
.inquiryBtn{
  
  background-color: tomato;
  color: white;
  width: 100px;
  height: 20px;
}
  .btnWrapForFlex{
    display: flex;
    justify-content: center;
    margin-top : 20px;
}